<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="https://github.com/jamesfoster85">James F.</a>  James is a web developer currently studying at the Firehose Project.
	</p>
	<br />
	<p>
		You can find James on the mean streets of Arlington walking his tiny dog, Bowser.
	</p>
	<p>
		If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>



	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'james.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">James Foster</h2>
		<br />
		<p>
			James Foster has been a web developer since the static days of HTML4.  He holds degrees in Philosophy and Classical Languages, and has been described as a "superb manager."
		</p>
	</div>

	<br class="clear" />
	<br />
	<br />
	<br />


</div>